* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141029;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    padding: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 100%;
    width: 40%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
}
.data {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
}