* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141029;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    border-radius: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}